<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <meta content="" name="description">
    <meta content="" name="keywords">
    <title>Test</title>
  </head>
  <body>

  <h1>HELLO</h1>

  <div w3-include-html="header.html"></div> 

  <h1>Hello World</h1>
  <p>I'm hosted with GitHub Pages. This is new</p>

  <div w3-include-html="footer.html"></div> 

  {% include "footer.html" %}
  </body> 
</html>